{% extends 'base_generic.html' %}

{% block content %}
  <div class="post-detail">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>By {{ post.author }}</p>
  </div>

  <div class="comments">
    <h2>Comments</h2>
    <ul>
      {% for comment in comments %}
        <li>{{ comment.author }}: {{ comment.content }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="add-comment">
    <h2>Add a comment</h2>
    <form method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add comment</button>
    </form>
  </div>

  <div class="post-actions">
    <a href="{% url 'post_edit' post.pk %}">Edit</a>
    <a href="{% url 'post_delete' post.pk %}">Delete</a>
  </div>
{% endblock %}